.card-container {
    display: grid;
    grid-template-columns: 0.9fr 0.9fr 0.9fr;
    margin: 75px 10px 0px 10px;
}

.movie-card {
    background-color: rgba(255, 255, 255, 0.166);
    border-radius: 10px;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-card > img {
    width: 100%;
}

.movie-card > p {
    min-height: 30px;
    color: white;
    font-size: 20px;
}